<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src = 'https://maps.googleapis.com/maps/api/js?key=<%=apiKey%>&libraries=drawing&sensor=true'></script>
    <script src = '/javascripts/lib/jquery.js'></script>
    <script src = '/javascripts/lib/underscore.js'></script>
    <script src = '/javascripts/lib/backbone.js'></script>
    <script src = '/javascripts/app/bbMember.js'></script>
    <script type="text/javascript" src = '/javascripts/getLocation.js'></script>
    <script src = '/javascripts/app/views/mapView.js'></script>
    <script src = '/javascripts/app/views/messagesView.js'></script>
    <script src = '/javascripts/app/views/messageView.js'></script>
    <script src = '/javascripts/app/models/messageModel.js'></script>
    <script src = '/javascripts/app/collections/messageCollection.js'></script>
    <script src = '/javascripts/app/templates/dialogueTemplate.js'></script>
    <script src = '/javascripts/app/templates/loginTemplate.js'></script>
    <script src = '/javascripts/app/views/dialogueView.js'></script>
    <script src = '/javascripts/app/views/loginView.js'></script>
    <script src = '/javascripts/app/helpers/viewHelpers.js'></script>
    <script type="text/javascript">
      var lat = <%= lat %>;
      var lng = <%= lng %>;
      var user = {};
      user.username = '<%=user.username%>';
      user.email = '<%=user.email%>';
      user.id = <%=user.id%>;
      $(function () {
        if(lat && lng){
          bb.init(lat, lng, user);
        } else {
          getLocation(initializeBB, user);
        }
      });
    </script>
  </head>
  <body>
    <div id="topbar">
      <div class='add option'> Add Message </div>
      <div class='profile option'><%=user.username%>'s Profile</div>
    </div>
    <div class='container'>
      <div id = 'map-canvas'></div>
      <div id = 'dialogue'>
        <h1>Click on a point</h1>
      </div>
    </div>
  </body>
</html>